.folder-name{
  text-align: justify;
  text-decoration: underline;
  position: relative;

}

.img-with-text {
  text-align: justify;
  width: 128px;
  display: inline-flex;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}
